<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GraphQL Mutation with jQuery</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <script>
    $(document).ready(function () {
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      const mutation = `
        mutation CreateBook($title: String!, $author: String!) {
          createBook(title: $title, author: $author) {
            book {
              id
              title
              author
            }
          }
        }
      `;

      const variables = {
        title: "New Book Title",
        author: "Author Name",
      };

      $.ajax({
        url: "http://127.0.0.1:8000/graphql/", // Replace with your GraphQL endpoint
        method: "POST",
 
        contentType: "application/json",
        data: JSON.stringify({ query: mutation, variables }),
        success: function (response) {
          alert("Mutation Response:", response);
        },
        error: function (xhr, status, error) {
          alert("Mutation Error:", error);
        },
      });
    });
  </script>
</body>
</html>
